*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(16, 15, 15, 0.907);
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
}

#container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#input-section{
    margin-top: 30px;
    width: 45%;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 10px;
    min-width: 250px;
    max-width: 450px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.627);
    margin: 50px;
}
#todoInput{
    height: 35%;
    text-align: center;
    border-radius: 25px;
    border:none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.627);
    font-size: 1.1rem;
    width: 80%;
    align-self: center;
    outline: none;
    padding: 10px;
}

#adding{
    margin-top: 15px;
    outline: none;
    border:none;
    width:35%;
    height: 25%;
    background-color: rgb(82, 199, 82);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.627);
    border-radius: 25px;
    padding: 5px;
    color: rgb(7, 7, 7);
    font-weight:bolder ;
    align-self: center;   
}

#content-section{
    width:90%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.627);
    color: black;
    border-radius: 25px;
    padding: 10px;
    max-width: 600px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    background-color: rgb(232, 239, 239);
    width: 90%;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.627);
}
p{
    font-size: 1.1rem;
}
#delete{
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(196, 77, 77);
    color: white;
    
}
